<div>
	<p>
		{{friend.firstName}}
		{{friend.lastName}}
	</p>
</div>
<form {{action "save" friend on="submit"}}>
	<p>
		{{paper-input md-no-float='' type='text' label="First Name" value=friend.firstName required=true required-errortext="Required..."}}
		{{paper-input md-no-float='' type='text' label="Last Name" value=friend.lastName required=true required-errortext="Required..."}}
		{{paper-input md-no-float='' type='text' label="Email" type="email" value=friend.email required=true required-errortext="Required..."}}
		{{paper-input md-no-float='' type='text' label="Twitter" value=friend.twitter required=true required-errortext="Required..."}}
	</p>
	<p>{{errorMessage}}</p>
	<input type="submit" value="Save"/>
	<button {{action "cancel" friend}}>Cancel</button>
</form>