{{!H friends.index}}
<p>Total: {{model.friends.length}}</p>
{{link-to "Add friend" "friends.new" tagName="button"}}
<table class="primary">
  <thead>
		<tr>
			<th>Name</th>
			<th class="ctr">Articles</th>
			<th colspan="2" class="ctr">Options</th>
    </tr>
  </thead>
	
	<tbody>
    {{#each model.friends as |friend|}}
			<tr>
				<td>{{link-to friend.fullName "articles" friend}}</td>
				<td class="ctr">{{friend.totalArticles}}</td>
				<td class="ctr">{{link-to "Lend Articles" "articles.new" friend class="button pseudo shyButton"}}</td>
				<td class="ctr"><button {{action "delete" friend}} data-tooltip="Remove this friend" class="pseudo shyButton tooltip-right">Delete</button></td>
			</tr>
		{{/each}}
  </tbody>
</table>