{{!H components.article-row}}
<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{!moment-format article.createdAt "LL"}}{{moment-from-now article.createdAt interval=1000}}</td>
<td class="select">
	{{#x-select value=article.state action="saveArticle"}}
		{{#each articleStates as |state|}}
			{{#x-option value=state}}{{state}}{{/x-option}}
				{{#if article.isSaving}}<p>Saving...</p>{{/if}}
		{{/each}}
	{{/x-select}}
</td>
<td><button class="error shyButton" {{action "delete" article}}>Delete</button></td>