{{!H friends.show}}
{{! this is passed friend from index table, and it equates to "model" here}}
<div class="card friend-profile">
	<p>First Name: {{model.firstName}}</p>
	<p>Last Name: {{model.lastName}}</p>
	<p>Email: {{model.email}}</p>
	<p>Twitter: {{model.twitter}}</p>
	{{link-to "Lend article" "articles.new" tagName="button"}}
	{{link-to "Edit details" "friends.edit" model tagName="button"}}
	<button {{action "delete" model}}>Delete friend</button>
	{{link-to "Back to friends list" "friends" tagName="button"}}
</div>
<div class="articles-container">
	{{outlet}}
</div>